[submodule "examples/dashboard-extensions"]
	path = examples/dashboard-extensions
	url = git@github.com:saleor/saleor-app-template.git
[submodule "examples/metadata-manager"]
	path = examples/metadata-manager
	url = git@github.com:saleor/saleor-app-template.git
[submodule "examples/external-webhook"]
	path = examples/external-webhook
	url = git@github.com:saleor/saleor-app-template.git
[submodule "examples/async-webhook-handler"]
	path = examples/async-webhook-handler
	url = git@github.com:saleor/saleor-app-template.git
[submodule "examples/protected-route"]
	path = examples/protected-route
	url = git@github.com:saleor/saleor-app-template.git
